SQLAlchemy==1.4.40
uvicorn==0.18.2
databases==0.6.1
aiosqlite==0.17.0
pydantic~=1.9.2
fastapi~=0.79.0
starlette~=0.19.1
celery~=5.2.7
pyparsing==3.0.9
motor==3.0.0
pymongo==4.2.0
python-dotenv==0.20.0
openapi-schema-pydantic==1.2.4
jsonschema==4.15.0
requests==2.28.1